.DS_Store
tmpdir/*
.texpadtmp/*
commag_15.pdf
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.fdb_latexmk
*.flg
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*~
build/*
.dropbox
